*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/*Fonts*/
@font-face {
    font-family: "MontBlanc";
    src: url("../Fonts/MontBlanc-Trial-SemiBold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "AlteHaas";
    src: url("../Fonts/AlteHaasGroteskBold.ttf");
    font-display: swap;
}

h1, h2, h3{
    font-family: AlteHaas;
}

p, li{
    font-family: MontBlanc, sans-serif;
}


/*Website Colours (Light Mode)*/
body{
    background-color: #efefef;
}



header{
    background: linear-gradient(to top, #6d7984 55%, #424951);
    position: sticky;
    top: 0;
    z-index: 100;
}

.hero{
    background: linear-gradient(to bottom, #cdcccb 60%, #686868a7);
}

nav a{
    color: rgb(20, 19, 19);
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #efefef;
}

/*Website Colours (Dark Mode)*/

body.dark-mode{
    background-color: #5a5957;
    color: #efefef;
}

body.dark-mode .hero{
    background: linear-gradient(to bottom, #3c3c3b 55%, #181818);
}

body.dark-mode .hero-text {
    color: #efefef;
}

body.dark-mode .hero-p{
    color: #efefef;
}

body.dark-mode .card{
    background-color: #3c3c3b;
}

body.dark-mode .card-header{
    background-color: #23221f;
}

body.dark-mode header{
    background: linear-gradient(to top, #454c53 55%, #34393e);
}

body.dark-mode footer{
    background: linear-gradient(to bottom, #454c53 55%, #34393e);
}

body.dark-mode .project-card h3{
    background-color: #23221f;
}

body.dark-mode .project-card{
    background-color: #3c3c3b;
}

body.dark-mode .project-card:hover{
    transition: background-color 0.3s ease;
    background-color: #646464;
    cursor: pointer;
}

body.dark-mode .project-card:hover h3{
    transition: background-color 0.3s ease;
    background-color: #43413c;
}

body.dark-mode button{
    background-color: #23221f;
}

body.dark-mode .timeline::before{
    background-color: #efefef;
}

body.dark-mode .timeline::after{
    background-color: #efefef;
}

body.dark-mode #Arrow{
    filter: invert(1);
}

body.dark-mode .Linked-Logo{
    filter: invert(0);
}

body.dark-mode #email-logo{
    filter: invert(1);
}

body.dark-mode #linkedin-footer{
    filter: invert(0);
}

body.dark-mode nav a.active{
    border-bottom: 2px solid #efefef;
}

body.dark-mode .modal-content{
    background-color: #5a5957;
    color: #efefef;
}

body.dark-mode .modal-close{
    background: none;
    color: #efefef;
}

/*Universal Structuring*/
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 200px;
    flex: 1;
}

nav {
    display: flex;
    align-items: center;
    padding: 50px 50px;
}

nav button{
    margin-left: auto;
}


footer p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#theme-icon{
    width: 30px;
    height: 30px;
}

#theme-toggle{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#Arrow{
    display: block;
    width: 30px;
    margin: 0 auto;
    padding-bottom: 20px;
}

#linkedin-footer{
    width: 40px;
    height: 40px;
    filter: invert(1);
}

nav a.active {
    border-bottom: 2px solid #23221f;
    padding-bottom: 4px;
}


/*Home Page*/

.home-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container ul{
    list-style: none;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 30px;
}

.hero-p{
    max-width: 500px;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 10px;
    letter-spacing: 0px;
    word-spacing: 4px;
    line-height: 1.4;
    color: rgb(20, 19, 19);
}

.hero-img{
    width: 700px;
    padding: 50px;
    padding-right: 100px;
}

.hero-text{
    padding-left: 200px;
    color: rgb(20, 19, 19);
}

.hero-text h1{
    font-size: 60px
}

.hero-text h2{
    font-size: 30px;
    font-style: italic;
}

.hero-btns{
    font-size: 16px;
    padding: 30px 0px;
    display: flex;
    gap: 20px;
}

.hero-btns button{
    border: none;
    padding: 10px 15px;
    font-family: MontBlanc, sans-serif;
    background-color: #555451;
    color: #efefef;
}

.hero-btns button:hover{
    transition: background-color 0.3s ease;
    background-color: #757370;
    cursor: pointer;
    
}

.card{
    background-color: #cdcccb;
    padding: 1rem;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}


.card-header{
    margin-bottom: 0.5rem;
    padding: 10px 15px;
    background-color: #555451;
    border-radius: 8px;
}

.card li{
    line-height: 3;
    font-size: 23px
}

.card-body{
   padding: 0;
   margin-left: 20px;
   padding-bottom: 50px;
}


.card-header h3{
    color: #cdcccb;
}

footer{
    background: linear-gradient(to bottom, #6d7984 55%,  #424951);
    padding: 20px 20px;
    display: flex;
    align-items: center;
    position: relative;
}


/*About Page*/

/*About Hero Section*/


.about-hero-text h1{
    font-size: 60px;
    text-align: center;
    padding: 30px 30px;
}

.about-hero-desc{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 0px;
    word-spacing: 4px;
    line-height: 1.4;
}

.scroll-text{
    text-align: center;
    padding: 30px;
}

.about-hero-btns{
    font-size: 16px;
    padding: 30px 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.about-hero-btns button{
    border: none;
    padding: 10px 15px;
    font-family: MontBlanc, sans-serif;
    background-color: #555451;
    color: #efefef;
}

.about-hero-btns button:hover{
    transition: background-color 0.3s ease;
    background-color: #757370;
    cursor: pointer;
}


/*About Page Timeline*/

.timeline{
    position: relative;
    padding-top: 130px;
    margin-bottom: 50px;
}

.timeline-content{
    line-height: 1.9;
    text-align: center;
}

.timeline-btn{
    font-size: 16px;
    padding: 10px 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

/*Timeline Buttons*/

.timeline-btn button{
    border: none;
    padding: 10px 15px;
    font-family: MontBlanc, sans-serif;
    background-color: #555451;
    color: #efefef;
}

.timeline-btn button:hover{
    transition: background-color 0.3s ease;
    background-color: #757370;
    cursor: pointer;
}

/*About Modals*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 200;
    justify-content: center;
    align-items: center;
}

.modal.active{
    display: flex;
}

.modal-content{
    background-color: #efefef;
    padding: 40px;
    border-radius: 8px;
    width: 70%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/*Timeline Images*/

.reddam .timeline-img{
    width: 100px;
    margin-right: 70px;
}

.dale .timeline-img{
    width: 200px;
    margin-bottom: 10px;
    transform: translateX(20px);
}

.wits .timeline-img{
    width: 200px;
    margin-right: 50px;
}

.uct .timeline-img{
    width: 150px;
    transform: translateX(30px);
    margin-bottom: 30px;
}

/*Timeline Content (Descriptions and Buttons)*/

.reddam .timeline-content{
    margin-right: 10px;
}

.wits .timeline-content{
    margin-right: 40px;
}

.dale .timeline-content{
    margin-left: 80px;
}

.uct .timeline-content{
    transform: translateX(90px);
    margin-bottom: 30px;
}

/*Reddam Modal*/

.reddam-modal-text{
    padding-top: 90px;
    max-width: 700px;
    padding-left: 50px;
    letter-spacing: 0px;
    word-spacing: 4px;
    line-height: 1.4;
 }

 .reddam-modal-title{
    padding-bottom: 15px;
    
 }

 .reddam-modal-details{
    padding-bottom: 10px;
 }


.reddam-modal-img{
    width: 200px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
}


/*Dale Modal*/

.dale-modal-text{
    padding-top: 80px;
    max-width: 700px;
    padding-left: 40px;
    letter-spacing: 0px;
    word-spacing: 4px;
    line-height: 1.4;
    padding-bottom: 90px;
}

.dale-modal-img{
    width: 200px;
    flex-shrink: 0;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 40px;
}

.dale-modal-title{
    padding-bottom: 15px;
}

.dale-modal-details{
    padding-bottom: 10px;
}


/*Wits Modal*/

.wits-modal-text{
    padding-top: 80px;
    max-width: 700px;
    letter-spacing: 0px;
    word-spacing: 4px;
    line-height: 1.4;
    padding-bottom: 90px;
}

.wits-modal-img{
    width: 250px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-bottom: 60px;
    
}

.wits-modal-title{
    padding-bottom: 15px;
}

.wits-modal-details{
    padding-bottom: 10px;
}


/*UCT Modal*/

.uct-modal-text{
    padding-top: 80px;
    max-width: 700px;
    letter-spacing: 0px;
    word-spacing: 4px;
    line-height: 1.4;
    padding-bottom: 90px;
    padding-left: 40px;
}

.uct-modal-img{
    width: 200px;
    flex-shrink: 0;
    margin-top: 60px;
    margin-left: 30px;
}

.uct-modal-title{
    padding-bottom: 15px;
}

.uct-modal-details{
    padding-bottom: 10px;
}



/*Timeline Page Divider*/

.timeline-item{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: calc(50% + 40px);
    margin-bottom: 60px;
    width: 100%;
}

.timeline-item:nth-child(even){
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-right: 0;
    padding-left: calc(50% + 40px);
}

.timeline-img{
    width: 150px;
    margin-right: 20px;
}

.timeline-item:nth-child(even) .timeline-img{
    margin-right: 0;
    margin-left: 20px;
}

.timeline::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 90px;
    bottom: 0;
    width: 2px;
    background-color: #555451;
    transform: translateX(-50%);
}

.timeline::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 90px;
    width: 20px;
    height: 2px;
    background-color: #555451;
    transform: translateX(-50%);
}

/*Projects Page*/


.projects-heading{
    font-size: 60px;
    text-align: center;
    padding: 30px 30px;
}

.projects-desc{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 0px;
    word-spacing: 4px;
    line-height: 1.4;
}

.projects-hero-btns{
    font-size: 16px;
    padding: 30px 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.projects-hero-btns button{
    border: none;
    padding: 10px 15px;
    font-family: MontBlanc, sans-serif;
    background-color: #555451;
    color: #efefef;
}

.projects-hero-btns button:hover{
    transition: background-color 0.3s ease;
    background-color: #757370;
    cursor: pointer; 
}

.projects-scroll-text{
    text-align: center;
    padding: 30px;
}

.projects-subheading{
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    
}

.projects-grid{
    display: flex;
    gap: 2rem;
    padding: 30px;
    justify-content: center;
    text-align: center;
}

.project-card{
    background-color: #cdcccb;
    padding: 1.5rem;
    flex: 1;
    border-radius: 8px;
}

.project-card:hover{
    transition: background-color 0.3s ease;
    background-color: #e6e4e3;
    cursor: pointer;
}

.project-card h3{
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #555451;
    padding: 0.5rem;
    border-radius: 8px;
    color: #cdcccb;
}

.project-card:hover h3{
    transition: background-color 0.3s ease;
    background-color: #918e8a;
}

.project1-img{
    width: 350px;
}

.project2-img{
    width: 350px;
}

.project3-img{
    margin-top: 40px;
    width: 250px;
}

/*Project Page Modals*/

/*Project 1 Modal*/

.project1-modal-img{
    width: 500px;
    
}

.project1-modal-text{
    margin-top: 40px;
    max-width: 400px;
    letter-spacing: 0px;
    word-spacing: 4px;
    line-height: 1.4;
    padding-bottom: 90px;
    margin-left: 40px;
}

.project1-modal-title{
    margin-bottom: 15px;
}

.project1-modal-details{
    margin-bottom: 10px;
}

/*Project 2 Modal*/

.project2-imgs{
    display: flex;
    flex-direction: column;
}

.project2-modal-img1{
    width: 400px;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.project2-modal-img2{
    width: 400px;
    margin-left: 10px;
    margin-bottom: 40px;
}

.project2-modal-text{
    margin-top: 90px;
    margin-left: 40px;
    max-width: 500px;
    letter-spacing: 0px;
    word-spacing: 4px;
    line-height: 1.4;
    padding-bottom: 90px;
}

.project2-modal-title{
    margin-bottom: 15px;
}

.project2-modal-details{
    margin-bottom: 10px;
}

/*Project 3 Modal*/

.project3-modal-img{
    width: 600px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.project3-modal-text{
    margin-left: 40px;
    max-width: 300px;
    letter-spacing: 0px;
    word-spacing: 4px;
    line-height: 1.4;
    padding-bottom: 90px;
    margin-top: 30px;
}

.project3-modal-title{
    margin-bottom: 15px;
}

.project3-modal-details{
    margin-bottom: 10px;
}

/*Contact Page*/


.contact-heading{
    font-size: 60px;
    text-align: center;
    padding: 30px 30px;
}

.contact-desc{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 0px;
    word-spacing: 4px;
    line-height: 1.4;
}

.contact-hero-btns{
    font-size: 16px;
    padding: 30px 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.contact-hero-btns button{
    border: none;
    padding: 10px 15px;
    font-family: MontBlanc, sans-serif;
    background-color: #555451;
    color: #efefef;
}

.contact-hero-btns button:hover{
    transition: background-color 0.3s ease;
    background-color: #757370;
    cursor: pointer; 
}

.contact-scroll{
    text-align: center;
    padding: 30px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form-section{
    text-align: center;
}

.contact-form-section h2{
    margin-top: 50px;
    margin-bottom: 10px;
}

.sub-p{
    padding-bottom: 30px;
}

.contact-form input{
    padding: 10px;
    width: 100%;
}

.contact-form textarea{
    padding: 10px;
    width: 100%;
    height: 150px;
    resize: none;
}

.contact-form button{
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
    padding: 10px 15px;
    font-family: MontBlanc, sans-serif;
    background-color: #555451;
    color: #efefef;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover{
    background-color: #757370;
}


#email-logo{
    display: block;
    width: 70px;
    margin: 0 auto;
}

.email-p{
    margin-bottom: 30px;
}

.Linked-Logo{
    filter: invert(1);
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: -6px;
    margin-top: 70px;
}

.Linked-button{
    width: 150px;
    margin: 0 auto;
    display: block;
    border: none;
    padding: 10px 15px;
    font-family: MontBlanc, sans-serif;
    background-color: #555451;
    color: #efefef;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-bottom: 70px;
}

.Linked-button:hover{
    background-color: #757370;
}

/*Responsive Design*/

@media (max-width: 768px){


    /*Nav*/

    nav ul{
        gap: 15px;
    }

    nav{
        padding: 30px 15px;
    }

    .home-hero{
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
        align-items: center;
    }

    .hero-text{
        padding-left: 0;
        padding-right: 0;
        padding: 20px;
    }

    .hero-text h1{
        font-size: 36px;
    }

    .hero-text h2{
        font-size: 20px;
    }

    .hero-p{
        max-width: 100%;
        font-size: 16px;
    }

    .hero-btns{
        justify-content: center;
    }

    .hero-img{
        padding: 20px;
        width: 200px;
    }

    /*Home Cards*/

    .card-container{
        grid-template-columns: 1fr;
    }

    .card li{
        font-size: 18px;
        line-height: 2.5;
    }

    /*About Hero Section*/

    .about-hero-text h1{
        font-size: 36px;
        padding: 20px;
    }

    .about-hero-desc{
        font-size: 16px;
        padding: 0px 20px;
    }

    /*Timeline*/

    .timeline-item, .timeline-item:nth-child(even){
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .timeline-item.dale{
        flex-direction: column-reverse;
    }

    .timeline-item.uct{
        flex-direction: column-reverse;
    }

    .timeline-img, .reddam .timeline-img, .dale .timeline-img, .wits .timeline-img, .uct .timeline-img{
        display: block;
        margin: 0 auto 20px auto;
        margin-left: auto;
        margin-right: auto;
        transform: none;

    }

    .timeline::before, .timeline::after{
        display: none;
    }

    .timeline-content, .reddam .timeline-content, .dale .timeline-content, .wits .timeline-content, .uct .timeline-content{
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        transform: none;
    }


    /*Modals*/

    .modal-content{
        width: 90%;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .reddam-modal-img, .dale-modal-img, .wits-modal-img, .uct-modal-img{
        width: 150px;
        margin: 0 auto 20px auto;
    }

     .reddam-modal-text, .dale-modal-text, .wits-modal-text, .uct-modal-text{
        padding: 10px;
        text-align: center;
    }

    /*Projects Page*/

    .projects-grid{
        flex-direction: column;
        padding: 20px;
    }

    .projects-heading{
        font-size: 36px;
        padding: 20px;
    }

    .projects-desc{
        padding: 0 20px;
        font-size: 16px;
    }

    .project1-modal-img{
        width: 100%;
        max-width: 300px;
    }

    .project1-modal-text{
        margin: 0;
        text-align: center;
        max-width: 100%;
        padding: 10px;
    }

    .project2-imgs{
        width: 100%;
        align-items: center;
    }

    .project2-modal-img1, .project2-modal-img2{
        width: 100%;
        max-width: 300px;
        margin: 0 0 20px 0;
    }

    .project2-modal-text{
        margin: 0;
        text-align: center;
        max-width: 100%;
        padding: 10px;
    }

    .project3-modal-img{
        width: 100%;
        max-width: 100%;
    }

    .project3-modal-text{
        margin: 0;
        max-width: 100%;
        text-align: center;
        padding: 10px;
    }

    .project1-img, .project2-img, .project3-img{
        width: 100%;
        max-width: 300px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    

    /*Contact Page*/
    
    .contact-heading{
        font-size: 36px;
        padding: 20px;
    }

    .contact-desc{
        padding: 0 20px;
        font-size: 16px;
    }

    .contact-form{
        padding: 0 20px;
    }

    /*Footer*/

    footer{
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding: 20px;
    }

    footer p {
        position: static;
        transform: none;
    }
}